scikit-learn==1.0.1
numpy==1.19.5
lightgbm==3.3.0
autokeras==1.0.16.post1
tensorflow==2.5.0
--find-links https://download.pytorch.org/whl/torch_stable.html
scipy==1.7.3
joblib==1.1.0
xgboost==1.5
torch==1.9.1+cu111
faiss-cpu==1.7.1.post2
torchvision==0.10.1+cu111
bayesian-optimization==1.2.0
